@include mediaSm {
  #sec1 {
    h1 {
      font-size: 2rem !important;
    }
  }

  #About {
    height: auto !important;
    padding: 80px 20px;
    h1 {
      font-size: 2rem !important;
    }
  }

  #Music {
    height: auto !important;
    padding: 80px 20px;
  }
}
